<div>
    <nav >
        <section class="menu">
            <div class="image">
                <img class="guitar" src="../../../assets/guitarra.png" alt="guitarra">
            </div>
            <div class="options">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" (click)="redirectHome()">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="redirectListSong()">Lista de Canciones</a>
                    </li>
                    <li *ngIf="isAdmin" class="nav-item">
                      <a class="nav-link" (click)="redirectSong()">Canciones</a>
                    </li>
                    <li *ngIf="isAdmin" class="nav-item">
                      <a class="nav-link" (click)="redirectArtist()">Artista</a>
                    </li>
                    <li *ngIf="isAdmin" class="nav-item">
                      <a class="nav-link" (click)="redirectAdminUser()">Usuarios</a>
                    </li>
                    <li *ngIf="isAdmin" class="nav-item">
                      <a class="nav-link" (click)="reCategories()">Categorias
                      </a>
                    </li>
                  </ul>
            </div>
        </section>
        <section class="navbar-text">
            <div class="info-user">
                <span class="user-name">{{nickname}}</span>
                <span class="user-email">{{emailUser}}</span>
            </div>
            <div>
                <img class="image-user"src="../../../assets/usuario.png" alt="Usuario" (click)="logout()">
            </div>
        </section>
    </nav>
</div>
