<div class="container" style="margin-top: 40px;">
    <button type="button" class="btn btn-primary" style="float: initial; margin-bottom: 10px;" (click)="addArtist()">Agregar Usuario</button>

    <div class="card" style="margin-bottom: 10px;">

        <div class="class header">
            <h3>Artistas</h3>
        </div>
    
        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha Actualizacion</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let artist of artists" class="text-center">
                <th>{{artist.nombreArtista}}</th>
                <td>{{artist.generoArtista}}</td>
                <td>{{artist.descripcionArtista}}</td>
                <td>{{artist.fechaRegistro}}</td>
                <td>
                    <button type="button" class="btn btn-primary" style="float: left" (click)="editArtist(artist.idArtista)">Editar</button>
                    <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteArtist(artist.idArtista)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
