<div class="container" style="margin-top: 40px;">
  <button type="button" class="btn btn-primary" style="float: initial; margin-bottom: 10px;" (click)="postList()">Agregar Lista</button>
  <div class="card" style="margin-bottom: 10px;">

      <div class="class header">
          <h3>Listas de cacniones</h3>
      </div>

      <table class="table">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha Actualizacion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let listacancio of listacancion" class="text-center">
              <th>{{listacancio.nombreLista}}</th>
              <td>{{listacancio.descripcionLista}}</td>
              <td>{{listacancio.fechaCreoLista}}</td>
              <td>
                  <button type="button" class="btn btn-primary" style="float: left" (click)="editList(listacancio.idLista)">Editar</button>
                  <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteList(listacancio.idLista)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

