<div class="container" style="margin-top: 40px;">
  <button type="button" class="btn btn-primary" style="float: initial; margin-bottom: 10px;" (click)="addSongs()">Agregar Cancion</button>

  <div class="card" style="margin-bottom: 10px;">

      <div class="class header">
          <h3>Lista de Canciones</h3>
      </div>

      <table class="table">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">Nombre</th>
              <th scope="col">Imagen</th>
              <th scope="col">Fecha Actualizacion</th>
              <th scope="col">Url</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of songs" class="text-center">
              <td>{{song.nombreCancion}}</td>
              <td>{{song.imagenCancion}}</td>
              <td>{{song.fechaCreoGenero}}</td>
              <td>{{song.urlCancion}}</td>
              <td>
                  <button type="button" class="btn btn-primary" style="float: left" (click)="editSongs(song.idGenero)">Editar</button>
                  <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteSongs(song.idGenero)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
