<div class="container" style="margin-top: 40px;">
    <button type="button" class="btn btn-primary" style="float: initial; margin-bottom: 10px;" (click)="addCategories()">Agregar Categoria</button>

    <div class="card" style="margin-bottom: 10px;">

        <div class="class header">
            <h3>Categorias Musicales</h3>
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha Actualizacion</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories" class="text-center">
                <td>{{category.tipoGenero}}</td>
                <td>{{category.descripcionGenero}}</td>
                <td>{{category.fechaCreoGenero}}</td>
                <td>
                    <button type="button" class="btn btn-primary" style="float: left" (click)="editCategories(category.idGenero)">Editar</button>
                    <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="deleteCategories(category.idGenero)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
